/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal styles */
body {
  font-size: 16px;
  line-height: 1.25;
  font-family: 'Open Sans', sans-serif;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem 1.5rem;
  width: 60%;
}

.secondary {
  width: 40%;
  padding-top: 1rem;
}

img {
  height: auto;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(86, 79, 79);
}

h2 {
  font-size: 2rem;
  color: rgb(86, 79, 79);
}

h3,
h4 {
  font-size: 1.5rem;
  color: rgb(161, 161, 161);
}

h5 {
  color: rgb(161, 161, 161);
}

section {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(161, 161, 161);
}

header, footer {
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: rgb(250, 250, 250);
}

#jumbotron, #courses, .headline:hover {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* Header section */
.flex-row .logo {
  margin-left: 1.5rem;
}

.logo {
  align-items: center;
  height: 2.5rem;
}

.title {
  font-size: 2rem;
}

.logo img, .logo span a {
  color: rgb(93, 204, 216);
}

.logo strong {
  font-weight: bold;
  color: rgb(161, 226, 185);
}

.menu, .menu li {
  display: inline;
  margin-right: 1.5rem;
}

nav a:hover {
  color: rgb(13, 13, 13);
}

#signin {
  color: rgb(255, 255, 255);
    font-family: Favorit, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 9px;
    padding: 0.5rem 1.5rem;
    background: rgb(31, 197, 236);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 9999px;
}

.tablet-nav {
  display: none;
}

.mobile-nav {
  display: none;
}

/* Jumbotron Section */
#jumbotron .secondary {
  justify-content: center;
}

#jumbotron h1, #jumbotron h3 {
  margin-bottom: 1.5rem;
}

.btn {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: rgba(2, 189, 165, 0.4) 0px 3px 9px;
  padding: 9px 36px;
  background: linear-gradient(to right, rgb(137, 241, 212), rgb(31, 197, 236));
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 9999px;
  width: auto;
  margin-right: 3rem;
}

#button h4 {
  color: rgb(255, 255, 255);
}
.main img {
  opacity: 0.8;
}

/* Headlines Section */
.mobile {
  display: none;
}
#headlines {
  background-color: rgb(250, 250, 250);
}
#headlines .main {
  border-right: 1px solid rgb(192,192,192);
}

#headlines .main h1 {
  margin-top: 2rem;
}

#headlines .main h4 {
  margin: 1.5rem 0 2rem 0;
}

#headlines .main h5{
  font-weight: bold;
}

.image-content {
  height: auto;
  width: 35%;
}

.headline {
  padding: 1rem;
  border-bottom: 1px solid rgb(192,192,192);
}

.headline .text-content {
  width: 65%;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.headline h4 {
  margin: 1rem 0;
}

.headline a:hover {
  color: rgb(13, 13, 13);
}
/* Courses Section */
.section-title {
  padding: 2rem;
  text-align: center;
}

.courses {
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 3.5rem;
}

.course {
  width: 30%;
  margin: 0 1rem 2rem 1rem;
  color: gray;
  background: rgb(250, 250, 250);
}

.course:hover {
  background: rgb(255,255,255);
}

.course .image-content {
  height: auto;
  width: 100%;
}

.course .text-content {
  padding: 1rem 1rem 1.5rem;
}

#courses h2 {
  font-weight: bold;
}

.designation {
  padding: 0.5rem 0;
}

/* Exhibit Section */
#exhibits {
  background: rgb(250, 250, 250);
}

#exhibits .main .text-content {
  padding-top: 1rem;
}

#exhibits h2 {
  font-weight: bold;
}

/* Footer */
footer h5 {
  margin-left: 1.5rem;
}

footer span {
  padding-right: 1rem;
  margin-right: 1.5rem;
}

footer div a:hover {
  color: rgb(13, 13, 13);
}

/* Media Queries */
@media only screen and (max-width: 900px) {
  .menu ul,
  #exhibits .secondary {
    display: none;
  }

  .menu ul.tablet-nav {
    display: block;
  }

  .dropdown .dropbtn {
      font-size: 1.5rem;
      border: none;
      outline: none;
      color: rgb(86, 79, 79);
      padding: 0.9rem 1rem;
      background-color: inherit;
      font-family: inherit;
      margin-right: 2rem;
    }

  .icon {
      width: 35px;
      height: 5px;
      background-color: rgb(86, 79, 79);
      margin: .25rem 0;
    }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(250, 250, 250);
    min-width: 7.5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: rgb(86, 79, 79);
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }


  .dropdown-content a:hover {
      background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .main,
  .secondary {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .btn {
    margin-bottom: 2rem;
    align-self: center;
  }

  #headlines .main {
    margin-bottom: 2rem;
    border-right: none;
  }

  .course {
    width: 45%;
  }
}

@media only screen and (max-width: 740px) {
  .course {
    width: 100%;
  }

  .text-content {
    text-align: center;
  }

  .course .image-content {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  header span,
  .menu ul.tablet-nav,
  footer span,
  #headlines .main,
  .logo,
  img.desktop,
  #courses h4,
  #exhibits .text-content {
    display: none;
  }

  .menu .mobile-nav {
    display: flex;
    justify-content: space-around;
  }

  .mobile-nav img {
    height: 2.5rem;
    width: auto;
    margin: 0 1rem;
  }

  .headline {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-bottom: 0;
  }

  .headline .image-content {
    width: 100%;
    height: auto;
  }

  img.mobile {
    display: block;
  }

  .video-content {
    margin-bottom: 1.5rem;
  }

}
